:root {
  --header-height: 56px;
}
.markdown-body ol,
.markdown-body ul {
  list-style: initial;
}
.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.dark .github-bg-black {
  background-color: var(--color-canvas-default, #0d1117);
}

.dark .markdown-body pre {
  background-color: #272727;
}

.toc li ul {
  margin-left: 16px;
}
.toc li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toc .active-heading {
  font-weight: 700;
}
.toc .active-heading::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: #000;
  border-radius: 2px;
  margin-right: 4px;
  vertical-align: text-bottom;
}
.dark .toc .active-heading::before {
  background-color: #c9d1d9;
}

.rehype-figure img {
  height: 380px;
  margin: auto;
  object-fit: contain;
  border-radius: 6px;
  padding: 16px;
  border: 1px solid #e7e5e4;
}

.dark .rehype-figure img {
  border-color: #737373;
}
.rehype-figure figcaption {
  color: #a8a29e;
  font-size: small;
  text-align: center;
  font-style: italic;
  margin-top: 4px;
}

.pre-copy {
  position: relative;
}

.pre-copy-button {
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 4px;
  background-color: var(--color-canvas-subtle);
  user-select: none;
  border: 1px solid;
  border-radius: 6px;
  border-color: var(--color-neutral-muted);
  cursor: pointer;
}

.pre-copy-button--fade-in {
  animation: fade-in 200ms forwards;
}

.pre-copy-button--fade-out {
  animation: fade-out 200ms forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
