:root {
  --header-height: 56px;
}
.markdown-body ol,
.markdown-body ul {
  list-style: initial;
}
.task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}


.dark .github-bg-black {
  background-color: var(--color-canvas-default, #0d1117);
}