$backgroundColor: #ffffff;
$foregroundColor: #2e405b;
$fontList: 'Source Sans Pro', 'Roboto', 'Helvetica', 'Helvetica Neue',
  'Source Han Sans SC', 'Source Han Sans TC', 'PingFang SC', 'PingFang HK',
  'PingFang TC', sans-serif;
$titleFontList: 'HiraMinProN-W6', 'Source Han Serif CN', 'Source Han Serif SC',
  'Source Han Serif TC', serif;
$verticalPrimaryPaddingTopPatch: 0;
$verticalSecondaryPaddingTopPatch: 1px;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600');
@import 'animation';

html,
body,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontList;
  color: $foregroundColor;
}

html {
  background: $backgroundColor;
}

.foreground {
  background: $foregroundColor !important;
}

.background {
  background: $backgroundColor !important;
}

.foreground-text * {
  color: $foregroundColor !important;
}

.background-text * {
  color: $backgroundColor !important;
}

body {
  font-size: 18px;
  line-height: 1.5em;
  margin: 0;
  min-height: 100vh;

  @if lightness($backgroundColor) >50 {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==');
  } @else {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACJJREFUeNpi/P//Py8DpQCXISBxJlING4QaGEdDiQgAEGAAg8sST3LGZYoAAAAASUVORK5CYII=');
  }

  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  // min-height: 100vh;
}

.container {
  background-color: transparent;
  padding: 0;
  position: relative;
}

.full-width-container {
  width: 100vw;
}

.main-container {
  text-align: left;
  margin: 0;
  padding: 80px 40px;
  overflow: hidden;
  float: left;

  :nth-child(1) {
    margin-top: 0;
  }
}

.row {
  margin: 0;
}

.vertical-text {
  writing-mode: horizontal-tb;

  * {
    line-height: 1;
    text-align: left;
  }
}

.ar-year {
  margin-top: 5px;
  margin-bottom: 5px;
}

.date {
  margin-bottom: 0px;
}

.ar-date {
  font-size: 16px;
  margin-bottom: 5px;
}

.archive :first-child {
  padding-left: 0;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: $foregroundColor;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  border-bottom: solid $foregroundColor 2px;
  padding: 0;
  cursor: pointer;
  cursor: hand;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: $backgroundColor !important;
    background-color: $foregroundColor;
    border-bottom: solid transparent 2px;
  }

  &:focus {
    color: darken($foregroundColor, 30%);
  }
}

.a-title {
  text-decoration: none;
  background-color: transparent;
  border-bottom: solid transparent 2px;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.current {
  border-bottom: solid $foregroundColor 3px !important;
}

.a-mute {
  background-color: transparent;
  color: $foregroundColor !important;
  text-decoration: none;
  border-bottom: none;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $foregroundColor !important;
    text-decoration: none;
    border-bottom: none;
  }
}

.soc {
  margin: 0 5px 0 0;
  font-size: 18px !important;

  a {
    border-bottom: solid transparent 2px;

    &:hover {
      @if lightness($foregroundColor) >50 {
        color: darken($foregroundColor, 10%) !important;
      } @else {
        color: lighten($foregroundColor, 10%) !important;
      }

      background-color: transparent !important;
      text-decoration: none;
      border-bottom: solid rgba(0, 0, 0, 0) 2px;
    }

    &:focus {
      @if lightness($foregroundColor) >50 {
        color: darken($foregroundColor, 10%) !important;
      } @else {
        color: lighten($foregroundColor, 10%) !important;
      }
    }
  }
}

.meta-item {
  margin: 0 10px 0 0;
  i {
    margin-right: 4px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  margin-top: 10px;
  padding-top: 0;
  font-size: 12px;
  font-weight: bold;
}

footer * {
  margin: 0;
}

.post-container {
  margin: 0 0 20px 0;
  font-weight: normal;
}

li {
  margin: 5px 0;
}

figure {
  overflow: scroll;
}

figure > table {
  width: 100%;
}

pre {
  * {
    font-family: Monaco, Menlo, 'Source Code Pro', monospace;
    background: transparent !important;
  }
}

figure {
  .gutter pre {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    text-align: right;
    min-width: 3em;
  }
  .code {
    width: 99%;
    pre {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: solid rgba(0, 0, 0, 0.05) 1px;
      margin-right: 1px;
    }
  }
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.site-title {
  font-weight: bolder;
  font-style: normal;
  width: auto;
  height: auto;
  margin: 0 0 0 -2px;
  text-align: left;
  font-size: 0.5em;
  padding: 0 0 10px 0;
  border-left: solid $foregroundColor 2px;
  transition: padding 0.8s ease 0s, background 0.8s ease 0s;

  &:hover {
    padding: 15px 0 35px 0;
    color: $backgroundColor !important;
    background: $foregroundColor !important;
    border-left: solid $foregroundColor 2px;

    * {
      color: $backgroundColor !important;
    }
  }

  :first-child {
    margin-right: 10px;
  }

  * {
    text-align: left;
    font-weight: bolder;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
    font-family: $titleFontList;
  }
}

.site-title-large {
  font-size: 38px;
  padding-top: $verticalPrimaryPaddingTopPatch;
}

.site-title-small {
  font-size: 22px;
  padding-top: $verticalSecondaryPaddingTopPatch;
}

.vertical-text {
  writing-mode: horizontal-tb;
}

.site-title {
  margin: 0;
  font-weight: bolder;
  font-style: normal;
  width: auto;
  height: auto;
  font-size: 0.5em;
  padding: 0;
  border-left: none;
  text-align: center;
  transition: none;
}

.site-title * {
  text-align: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.site-title:hover {
  color: $foregroundColor !important;
  background: transparent !important;
  padding: 0;
  border: none;
}

.site-title:hover * {
  color: $foregroundColor !important;
  background: transparent !important;
}

.main-container {
  text-align: left;
  height: auto;
  margin: 0;
  padding: 20px 30px;
  overflow: auto;
}

.side-container {
  right: 0;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  transform: rotate(0deg);
  text-align: left;
  float: right;
  padding: 40px 30px 0 30px;
  height: auto;
  position: relative;
  left: 0;
}

.site-title-links {
  font-weight: bold;
  font-style: normal;
  position: unset;
  padding-bottom: 26px;
  margin-bottom: 26px;
  text-align: center;
  & > a {
    border-bottom: solid $foregroundColor 2px;
  }
}

.site-title-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline;
    margin: 0 14px;
    font-size: 16px;
  }
}

footer {
  padding-top: 30px;
}

a {
  padding: 0;
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin: 3px 0;
}

.post-meta {
  font-size: 14px;
  margin: 10px 0;
}

.post-abstract {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.soc {
  display: block !important;
}

.site-nav-footer {
  display: none !important;
}

.site-bottom-footer {
  display: block !important;
}

.markdown {
  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
    border-left: 4px dotted #e5e8e8;
    padding: 12px;
    color: #444;
    font-size: 0.9em;
    background: #fafafa
  }
  blockquote p {
    margin: 0;
  }
  // blockquote {
  //   /*margin: 3rem 0;*/
  //   padding: 15px;
  //   color: #555;
  //   border-left: 0.25em solid #555;
  //   background: #EEEEEE;
  //   border-radius: 3px;
  // }
  blockquote blockquote {
    padding-right: 0;
  }
  table {
    padding: 0;
    word-break: initial;
  }
  table tr {
    border-top: 1px solid #dadfe6;
    margin: 0;
    padding: 0;
  }
  table.md-table tr:nth-child(2n) {
    background-color: #fafbfc;
  }
  table tr td,
  table tr th {
    border: 1px solid #dadfe6;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr td:first-child,
  table tr th:first-child {
    margin-top: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    margin-bottom: 0;
  }
  .CodeMirror-gutters {
    border-right: 1px solid #ddd;
  }
  & pre,
  code,
  tt {
    font-size: 90%;
    border-radius: 3px;
    font-family: 'SF Mono', Consolas, 'Liberation Mono', Menlo, Courier,
      monospace;
  }
  code,
  tt {
    color: $foregroundColor;
    margin: 0 2px;
    padding: 2px 4px;
    background-color: #e2f0ff;
  }
  & pre {
    background-color: #f6f8fa;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 12px 1em;

    code {
      background-color: unset;
      margin: 0;
      padding: 0;
    }
  }

  .mathjax-block > .code-tooltip {
    bottom: 0.375rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
