* {
  box-sizing: border-box;
}

.filter-list,
.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.filter-list {
  padding: 8px 14px;
  .filter-item {
    padding: 6px 12px;
    margin-bottom: 4px;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
      background-color: rgb(246, 248, 250);
    }
  }
}

.menu-list {
  .menu-item {
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    &:hover {
      background-color: rgb(246, 248, 250);
    }
    &:last-child {
      border: 0;
    }
  }
}

.badge {
  display: inline-block;
  text-align: center;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 2em;
  padding: 0 6px;
  font-weight: 500;
  font-size: 12px;
}

.badge-default {
  background-color: #6a737d;
  color: #ffffff;
}

.badge-primary {
  background-color: #bae7ff;
  color: #0050b3;
}

.badge-outline {
  font-size: 14px;
  line-height: 22px;
  height: 22px;
  color: #6a737d;
  font-weight: 500;
}

.toc-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5vw;
  z-index: 0;
  width: 216px;
  pointer-events: none;
}

.toc {
  position: sticky;
  pointer-events: initial;
  right:0;
  top: 20%;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 0 2px 2px #eee;
  border-radius: 6px;
  padding: 16px;
  padding-left: 10px;
  padding-right: 0;
  font-size: 14px;
  background-color: #fff;
  opacity: .3;
  z-index: 2;
  user-select: none;
  &:hover {
    opacity: 1;
  }

  .active {
    background-color: #eee;
  }
  .toc-1,
  .toc-2,
  .toc-3,
  .toc-4,
  .toc-5 {
    cursor: pointer;
    &:hover {
      background-color: #eee;
      border-radius: 4px;
    }
  }
  .toc-2 {
    padding-left: 1em;
  }
  .toc-3 {
    padding-left: 2em;
  }
  .toc-4 {
    padding-left: 3em;
  }
  .toc-5 {
    padding-left: 4em;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 12px;

  .page-item {
    padding: 0 10px;
    min-width: 32px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-left: 6px;
    line-height: 20px;
    &:not(.active):hover {

    }
  }
  .active {
    background-color: #2e405b;
    color: #fff;
  }
}

.listing {
  .listing-item {
    margin-bottom: 6px;
  }
}
